.badge {
	composes: row from "../../utils/styling/flexBox.module.css";
	composes: body-xs-medium from "../../utils/styling/type.module.css";
	line-height: 1em;
	color: var(--badge-color);
	background: var(--badge-bg);
	min-width: 24px;
	width: min-content;
	border-radius: var(--corner-m);
	white-space: nowrap;
}

.badge.badge {
	padding: var(--spacing-xxs) var(--spacing-xxs);
}
