.body-xs-regular {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-xs);
	line-height: var(--line-height-m);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-m);
}

.body-xs-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-xs);
	line-height: var(--line-height-m);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-m);
}

.body-xs-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-xs);
	line-height: var(--line-height-m);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-l);
}

.body-s-regular {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-s);
	line-height: var(--line-height-xl);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-s);
}

.body-s-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-s);
	line-height: var(--line-height-xl);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-s);
}

.body-s-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-s);
	line-height: var(--line-height-xl);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-m);
}

.body-m-regular {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-m);
	line-height: var(--line-height-l);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-s);
}

.body-m-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-m);
	line-height: var(--line-height-l);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-s);
}

.body-m-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-m);
	line-height: var(--line-height-l);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-m);
}

.body-l-regular {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-l);
	line-height: var(--line-height-xxl);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-xs);
}

.body-l-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-l);
	line-height: var(--line-height-xxl);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-xs);
}

.body-l-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-l);
	line-height: var(--line-height-xxl);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-s);
}

.body-xl-regular {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-xl);
	line-height: var(--line-height-xxl);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-xs);
}

.body-xl-medium {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-xl);
	line-height: var(--line-height-xxl);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-xs);
}

.body-xl-bold {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-xl);
	line-height: var(--line-height-xxl);
	text-decoration: none;
	letter-spacing: var(--letter-spacing-s);
}

.h1 {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-extra);
	font-size: var(--font-size-h1);
	line-height: var(--line-height-s);
	letter-spacing: var(--letter-spacing-m);
}

.h2 {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-h2);
	line-height: var(--line-height-s);
	letter-spacing: var(--letter-spacing-m);
}

.h3 {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-h3);
	line-height: var(--line-height-xs);
	letter-spacing: var(--letter-spacing-m);
}

.h4 {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-h4);
	line-height: var(--line-height-l);
	letter-spacing: var(--letter-spacing-m);
}

.h5 {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-h5);
	line-height: var(--line-height-l);
	letter-spacing: var(--letter-spacing-m);
}

.h6 {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-h6);
	line-height: var(--line-height-l);
	letter-spacing: var(--letter-spacing-m);
}
